{% extends 'base.html.twig' %}

{% block body %}
    <div class="" style="margin-top:-20px">

    <iframe class="" height="100%" width="100%" src="http://egemyo.ege.edu.tr/"></iframe>

</div>


{% endblock %}